{% extends "base.html" %} {% load static %} {% block content %}
<div class="h-screen w-full flex flex-col px-3 lg:px-10">
  <div class="w-full flex justify-center items-center relative mt-10">
    <div class="grid grid-cols-5 gap-3 w-4/6 py-10">
      <div
        class="h-32 md:h-48 xl:h-56 mx-1 rounded-lg bg-gray-200 relative bg-center bg-cover"
        style="
          background-image: url('https://scontent.fsub1-1.fna.fbcdn.net/v/t1.0-9/37921553_1447009505400641_8037753745087397888_n.jpg?_nc_cat=102&_nc_sid=09cbfe&_nc_oc=AQnDTnRBxV3QgnhKOtk9AiziIOXw0K68iIUQfdK_rlUSFgs8fkvnQ6FjP6UBEkA6Zd8&_nc_ht=scontent.fsub1-1.fna&oh=728962e2c233fec37154419ef79c3998&oe=5EFA545A');
        "
      >
        <div
          class="absolute top-0 bottom-0 w-full h-full bg-black bg-opacity-25"
        ></div>
        <img
          class="rounded-full absolute w-10 h-10 border-solid border-2 border-blue-500 my-3 mx-3"
          src="{{profile.AvatarUrl}}"
          alt=""
        />
      </div>
      <div class="h-32 md:h-48 xl:h-56 mx-1 rounded-lg bg-gray-300"></div>
      <div class="h-32 md:h-48 xl:h-56 mx-1 rounded-lg bg-gray-400"></div>
      <div class="h-32 md:h-48 xl:h-56 mx-1 rounded-lg bg-gray-500"></div>
      <div class="h-32 md:h-48 xl:h-56 mx-1 rounded-lg bg-gray-500"></div>
    </div>
    <button
      class="hidden shadow-md md:block absolute right-0 mx-40 next-slide bg-white md:w-12 lg:w-16 md:h-12 lg:h-16 rounded-full focus:outline-none"
    >
      <svg
        class="w-12 mx-1"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="#b0b0b0"
        stroke-width="2"
        stroke-linecap="square"
        stroke-linejoin="round"
      >
        <path d="M5 12h13M12 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <div class="w-4/6 mx-auto">
    <div class="bg-white w-full h-32 rounded-md shadow-md">
      <div class="w-full h-16 flex items-center justify-between px-5">
        <img
          class="rounded-full w-10 h-10 mr-3"
          src="{{ profile.AvatarUrl}}"
          alt=""
        />
        <a id="mainPost" class="w-full rounded-full">
          <input
            type="text"
            class="w-full rounded-full h-10 bg-gray-200 px-5"
            placeholder="What's on your mind, {{request.user}} ?"
          />
        </a>
      </div>
      <div
        class="w-full h-16 flex justify-between px-3 md:px-10 lg:px-24 xl:px-5"
      >
        <div class="flex h-full items-center">
          <svg
            class="h-12 fill-current text-red-500 stroke-current"
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#b0b0b0"
            stroke-width="2"
            stroke-linecap="square"
            stroke-linejoin="round"
          >
            <path
              d="M15.6 11.6L22 7v10l-6.4-4.5v-1zM4 5h9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V7c0-1.1.9-2 2-2z"
            />
          </svg>
          <span class="text-xs lg:text-md mx-2 font-semibold text-gray-500">
            Live Video
          </span>
        </div>
        <div class="flex h-full items-center">
          <svg
            class="h-12 text-green-500 stroke-current"
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#b0b0b0"
            stroke-width="2"
            stroke-linecap="square"
            stroke-linejoin="round"
          >
            <rect x="3" y="3" width="18" height="18" rx="2" />
            <circle cx="8.5" cy="8.5" r="1.5" />
            <path d="M20.4 14.5L16 10 4 20" />
          </svg>
          <span class="text-xs lg:text-md mx-2 font-semibold text-gray-500">
            Photo/Video
          </span>
        </div>
        <div class="hidden xl:flex h-full items-center">
          <svg
            class="h-12 text-yellow-500 stroke-current"
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="27"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#b0b0b0"
            stroke-width="2"
            stroke-linecap="square"
            stroke-linejoin="round"
          >
            <path
              d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"
            />
            <circle cx="12" cy="10" r="3" />
            <circle cx="12" cy="12" r="10" />
          </svg>
          <span class="text-xs lg:text-md mx-2 font-semibold text-gray-500">
            Feeling/Activity
          </span>
        </div>
      </div>
    </div>
    {% for post in posts %} {% include "core/post.html" %} {% endfor %}
  </div>
</div>

{% endblock content %} {% block javascript %}
<script src="{% static 'js/handleLike.js' %}"></script>
<script>
  const mainPost = document.getElementById("mainPost");
  {% comment %} const postModal = document.getElementById("postModal"); {% endcomment %}

  mainPost.onclick = function () {
    postModal.classList.remove("hidden");
    postModal.classList.add("flex");
  };

  function hideModal() {
    postModal.classList.add("hidden");
  }

  window.addEventListener("click", function (event) {
    if (event.target === postModal) {
      hideModal();
    }
  });

  window.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      hideModal();
    }
  });
</script>

{%endblock javascript%}
