{% extends "friends/friend_layout.html" %} {% block friends %}

<div class="flex-col p-3">
  <div>
    <h1 class="p-2 text-lg font-serif font-bold">Friend Requests</h1>
  </div>
  <div class="flex flex-wrap space-x-4 space-y-4 items-center">
    {% for request in friend_requests %}
    <div class="bg-white rounded-lg shadow friend-card w-48 h-60">
      <div class="flex-col items-center justify-between">
        <div class="flex items-center justify-center max-w-full max-h-1/2">
          <img
            src="{{request.sender.AvatarUrl}}"
            alt="Friend 1"
            class="flex items-center justify-center max-w-full max-h-1/2"
          />
        </div>

        <p class="text-gray-700 font-bold text-center p-2">
          {{request.sender}}
        </p>
        <div class="flex flex-col items-center justify-around h-20">
          <button
            class="accept bg-blue-500 hover:bg-blue-600 text-center text-white py-1 px-4 rounded-md font-bold"
            data-id="{{request.id}}"
          >
            Accept Request
          </button>
          <button
            class="chat bg-blue-500 hover:bg-blue-600 text-center text-white py-1 px-4 rounded-md font-bold hidden"
            data-id="{{request.id}}"
            with="{{request.sender}}"
          >
            Chat
          </button>
          <button
            class="reject bg-gray-300 hover:bg-gray-200 text-center text-gray-900 py-1 px-4 rounded-md font-bold"
            data-id="{{request.id}}"
          >
            Reject Request
          </button>
          <button
            class="Block bg-gray-300 hover:bg-gray-200 text-center text-gray-900 py-1 px-4 rounded-md font-bold hidden"
            data-id="{{request.id}}"
          >
            Block
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock friends%} {% block javascript %}
<script>
  $(document).ready(function () {
    $(".accept").click(function () {
      var id = $(this).data("id");
      var url = "http://127.0.0.1:8000/friends/accept/" + id + "/";

      var self = this;

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          $(self).addClass("hidden");
          $(self).siblings(".reject").toggleClass("hidden");
          $(self).siblings(".chat").toggleClass("hidden");
          $(self).siblings(".Block").toggleClass("hidden");

          console.log(response);
        },
        error: function (xhr, textStatus, errorThrown) {},
      });
    });

    $(".reject").click(function () {
      var id = $(this).data("id");
      var url = "http://127.0.0.1:8000/friends/reject/" + id + "/";

      var self = this;

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          $(self).addClass("disabled cursor-not-allowed");
          $(self).html("Rejected");
          $(self).siblings(".accept").toggleClass("hidden");

          console.log(response);
        },
        error: function (xhr, textStatus, errorThrown) {},
      });
    });

    $(".chat").click(function () {
      var id = $(this).data("id");
      var url = "http://127.0.0.1:8000/chat/accept/" + id + "/";

      var self = this;

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          $(self).addClass("hidden");
          $(".chat").classList.toggle("hidden");

          console.log(response);
        },
        error: function (xhr, textStatus, errorThrown) {},
      });
    });

    $(".Block").click(function () {
      var id = $(this).data("id");
      var url = "http://127.0.0.1:8000/friends/block/" + id + "/";

      var self = this;

      $.ajax({
        url: url,
        type: "GET",
        success: function (response) {
          $(self).addClass("hidden");
          $(".chat").classList.toggle("hidden");

          console.log(response);
        },
        error: function (xhr, textStatus, errorThrown) {},
      });
    });
  });
</script>
{% endblock javascript %}
