{% extends "friends/friend_layout.html" %} {% load friend_name %} 
{% load friend_avatar%} 

{% block friends %}

<div class="flex-col p-3">
  <div>
    <h1 class="p-2 text-lg font-serif font-bold">All Friends</h1>
  </div>
  <div class="flex flex-wrap space-x-4 space-y-4 items-center">
    {% for friend in friends %}
    <div class="bg-white rounded-lg shadow friend-card w-48 h-60">
      <div class="flex-col items-center justify-between">
        <img
          src="{{friend|friend_avatar:request}}"
          alt="Friend 1"
          class="w-full h-1/2"
        />

        <p class="text-gray-700 font-bold text-center p-2">
          {{friend|friend_name:request}}
        </p>
        <div class="flex flex-col items-center justify-around h-20">
          <button
            class="bg-blue-500 hover:bg-blue-600 text-center text-white py-1 px-4 rounded-md font-bold"
          >
            Chat
          </button>
          <button
            class="bg-gray-300 hover:bg-gray-200 text-center text-gray-900 py-1 px-4 rounded-md font-bold"
          >
            Block
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock friends %}
